@model IEnumerable<Busticket.Models.BusLog>

@{
    ViewBag.Title = "BusLogs";
    Layout = "~/Views/Shared/AdminView.cshtml";
}

<h2>BusLogs</h2>



<table class="table">
    <thead>
        <tr>
            <th>Journey Day</th>
            <th>Journey Date</th>
            <th>Available Seats</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var busLog in Model)
        {
            <tr>
                <td>@busLog.JourneyDay</td>
                <td>@busLog.ArrivalTime.ToShortDateString()</td> <!-- Display only the date -->
                <td>@ViewBag.seats[busLog.JourneyDay - 1]</td> <!-- Assuming busLog.Id is 1-based -->
            </tr>
        }
    </tbody>
</table>