



@model List<DateTime>

@{
    ViewBag.Title = "Select Date";
    Layout = "~/Views/Shared/PassengerView.cshtml";
}

<h2>Select Date</h2>

@using (Html.BeginForm())
{
    <p>Select a date:</p>
    @Html.DropDownList("selectedDate", new SelectList(Model), "Select Date", new { @class = "form-control" })

    <input type="submit" value="Next" class="btn btn-primary" />
}
